@model ExtractPackageViewModel
<h2>Extract Package @Model.Package.Name</h2>
<p>Package Id: <strong><tt>@Model.Package.Id</tt></strong></p>
<p>Size: <strong>@SizeFormatter.ToString(Model.Package.Size)</strong></p>
<p>In what folder would you like to extract <strong>@Model.Package.Name</strong>?</p>
<form method="post" asp-antiforgery="true">
    <div class="form-group">
        <label asp-for="Folder">Folder to extract package:</label>
        <input asp-for="Folder" class="form-control" />
        <em>New folder will be created inside this folder.</em>
        @Html.ValidationMessageFor(m => m.Folder)
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" asp-for="DoValidate"> Verify consistency of package before extraction</label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-paste"></span> Extract @SizeFormatter.ToString(Model.Package.Size)
    </button>
    <a href="@Url.Action(nameof(HttpWebInterfaceController.Index))" class="btn btn-default">
        Cancel
    </a>
</form>